@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    
}

body {
    text-align: center;
    
}

img {
    margin-top: 35px;
    width: 25vw;
    height: 25vw;
    padding: 3px;
    border-radius: 100%;
    border: 5px dotted  black;
    transition: 2s;
}

img:hover {
    width: 15vw;
    height: 15vw;
    padding:40px;
    background-color: gray;
    border: 5px solid black;
    border-radius: 30%;
}